@import "../_mixins/mixins";
@import "../_colors/colors";
@import "../_variables/variables";

.long-checkbox {
  position: relative;
  display: inline-block;
  height: inherit;
  width: 100%;
  line-height: 1;
  padding: 4px 8px;
  white-space: nowrap;
  border: $border-slim solid #93a1a7;

  &__text {
    display: inline-block;
    line-height: 20px;
    float: left;
    font: {
      weight: 400;
      size: setFontSizeRem($rf-size, 15);
    };
    color: #222222;
    z-index: $z-index;
  }

  &__label {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    height: 20px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: calc(100% + 18px);
      height: calc(100% + 10px);
      top: -5px;
      left: -9px;
      transition: background-color $transit-time 0s;
      animation-timing-function: $timing-func;
    }
  }

  &__svg {
    position: relative;
    display: block;
    top: calc((100% - 1rem) / 2);
    left: 0;
    content: '';
    width: setFontSizeRem($rf-size, 14);
    height: setFontSizeRem($rf-size, 15);
    opacity: 0;
    fill: #ffffff;
    stroke: #ffffff;
    stroke-width: 2px;
    z-index: $z-index / $z-index;
    @include margin('left', 1px);
  }

  & input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 1rem;
    z-index: $z-index / 10;
    opacity: 0;
    cursor: pointer;

  }

  &_state {
    width: 100%;
  }


  &_bg-svg {
    & input:checked {
      & + .long-checkbox_state .long-checkbox__label .long-checkbox__svg {
        opacity: 1;
        transition: fill $transit-time 0s, stroke $transit-time 0s;
        animation-timing-function: $timing-func;
        fill: #0094d8;
        stroke: #0094d8;
      }

      & + .long-checkbox_state label:before {
        background-color: #f1f3f5;
      }
    }
  }

}