$bg-main: #fcfafc;
$main-color: #555555;
$warning-msg: #FF5F42;
$regular-msg: #1690f3;
$rf-size: 14px;
$border-slim: 1px;
$border-medium: 2px;
$transit-time: 0.25s;
$timing-func: cubic-bezier(.5, .0, .24, .94);
$main-text: Roboto, Arial, sans-serif;
$text-shadow: 0 0 1px hsla(200, 52%, 6%, 0.02);
$z-index: 20;
