$silverSand: #bdc3c7;

$manatee: #8e9aaf;

$blackCoral: #5e6472;

$emerald: #2dc963;

$slimyGreen: #02A217;

$forestGreen: #138a36;

$cadmiumGreen: #176432;

$ultramarineBlue: #4361EE;

$glaucous: #4c82cd;

$darkCornflower: #32479e;

$blue: #0000fe;

$fireRed: #ce0c2a;

$orangePantone: #ff5400;

$chromeYellow: #ffa700;

$flickrPink: #F72585;

$fashionFuchsia: #e500a4;

$redCrayola: #ff0054;

$hanPurple: #6200ee;

$hanPurple1: #5e2bff;

$ultramarine: #4622da;

$ceruleanCrayola: #00B4D8;

$blueGreen: #0096C7;

$starCommand: #0077B6;

$blueSapphire: #05668d;