@import "../_mixins/mixins";
@import "../_colors/colors";
@import "../_variables/variables";

.card {
  position: relative;
  flex: 1 1 300px;
  padding: 10px 20px;
  text-align: left;
  height: 100%;

  &_flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item {
    position: relative;
    overflow: hidden;
    padding: 12px 16px;
    margin-top: 8px;
  }
}